*{
    margin: 0px;
    padding: 0px;
}

body{
    height: 100vh;
    background-image: linear-gradient(rgb(255, 255, 255), rgb(109, 39, 239));
}

.logo{
    display: block;
    width: 100px;
    height: 100px;
    margin: auto;
}


.container{
    max-width: 955px;
    margin: auto;
    border: 2px solid black;
    padding: 33px;
    overflow: auto;
    margin-bottom: 23px;
    height: 55vh;
    margin-top: 20px;
}

.navbar h1{
    margin-top: 12px;
    font-size: 30px;
    font-size: 30px;
    font-family: 'Segoe UI', Tahoma, Geneva, Verdana, sans-serif;
    text-align: center;
}

.message{
    display: block;
    background-color: #ebdbdb;
    width: 24%;
    padding: 10px;
    margin: 13px 13px;
    border: 2px solid black;
    border-radius: 5px;
    /* overflow-x: hidden;
    overflow-y: scroll; */
    word-wrap: break-word;
}

.left{
    float: left;
    clear: both;
}

.right{
    float: right;
    clear: both;
}

#sendContainer{
    max-width: 985px;
    width: 100%;
    margin: auto;
    text-align: center;
}

#messageInp{
    width: 69%;
    border: 2px solid black;
    border-radius: 10px;
    height: 34px;
    outline: none;
}

.btn{
    height: 34px;
    cursor: pointer;
    border: 2px solid black;
    border-radius: 6px;
    padding: 6px;
    outline: none;
}