body {
    background-color: #EAF6F6;
}
hr{
    border-style: none;
    border-top-style: dotted;
    width: 5%;
    border-color: grey;
    border-width: 5px;
}
img{
    height: 250px;
    width: 250px;
    border-radius: 50%;
}

h1, strong{
    color: #66BFBF;
}
