/* CSS Reset */

*{
    margin: 0px;
    padding: 0px;
}

html{
    scroll-behavior: smooth;
}

/* CSS Variables */

:root{
    --navbar-height : 59px;
}


/* Navigation Bar */

nav #logo img{
    height: 140px;
    width: 140px;
    margin: 0px 34px;
}

#navbar::before{
    content: "";
    background-color: black;
    position: absolute;
    height: 100%;
    width: 100%;
    top: 0px;
    left: 0px;
    z-index: -1;
    opacity: 0.4;
}

#navbar{
    display: flex;
    align-items: center;
    position: sticky;
    top: 0px;
    z-index: 1;
    font-family: 'Fredoka One', cursive;

}

#navbar ul{
    display: flex;
    align-items: center;
}

#navbar ul li{
    list-style: none;
    font-size: 1.3rem;
}

#navbar ul li a{
    padding: 0px 35px;
    text-decoration: none;
    color: white;
    border-radius: 12px;
    font-weight: bold;
}

#navbar ul li a:hover{
    color: black;
    background-color: white;
    font-family: 'Permanent Marker', cursive;
}


/* Home Section  */

#home::before{
    content: "";
    background: url('../bg1.jpg') no-repeat center center/cover;
    position: absolute;
    top: 0px;
    left: 0px;
    z-index: -1;
    height: 100%;
    width: 100%;
}

#home{
    color: white;
    display: flex;
    padding: 3px 200px;
    height: 578px;
    flex-direction: column;
    justify-content: center;
    align-items: center;
}


#home h1{
    color: white;
}

#home p{
    text-align: center;
    font-size: 1.5rem;
    padding: 5px;
    font-family: 'ZCOOL QingKe HuangYou', cursive;
    cursor: default;
}


/* Services Section */

#services{
    margin: 34px;
    display: flex;
}

#services .box{
    border: 2px solid brown;
}

#services .box img{
    height: 150px;
    width: 165px;
    display: block;
    margin: 0px auto;
}

#services-container{
    margin-top: 55px;
}

#services-container h1{
    color: black;
    font-size: 2.8rem;
}

#services .box{
    padding: 34px;
    margin: 3px 6px;
    background-color: #f8e6e6;
    border-radius: 23px;
}

#services .box h2{
    margin-top: 12px;
}

#services .box p{
    font-family: 'ZCOOL QingKe HuangYou', cursive;
    padding: 12px;
    margin: 2px;
    cursor: default;
}


/* Client Section */

#client-section{
    height: 400px;
    position: relative;
}

#client-section::before{
    content: "";
    background: url('../bg.jpg') no-repeat center center/cover;
    position: absolute;
    top: 0px;
    left: 0px;
    z-index: -1;
    height: 100%;
    width: 100%;
    opacity: 0.7;
}


#client-section h1{
    margin: 50px 0px;
}


#clients{
    display: flex;
    justify-content: space-evenly;
    align-items: center;
}

#clients img{
    height: 200px;
}

.btn:hover{
    color: black;
    border-color: black;
}

.center{
    text-align: center;
}


/* Contact Section */

#contact{
  position: relative;
  height: 578px;
  margin-top: 50px;
}

#contact::before{
    content: "";
    position: absolute;
    width: 100%;
    height: 100%;
    z-index: -1;
    opacity: 0.7;
    background: url('../contact.jpg') no-repeat center center/cover;
}

#contact-box{
    display: flex;
    justify-content: center;
    align-items: center;
}

#contact-box input,
#contact-box textarea{
    width: 100%;
    padding: 0.5rem;
    border-radius: 12px;
    font-family: 'ZCOOL QingKe HuangYou', cursive;
}

#contact-box form label{
    font-size: 1.3rem;
    font-family: 'ZCOOL QingKe HuangYou', cursive;
}

#contact .form-group button{
    padding: 5px;
    border: 2px solid black;
    color: white;
    background-color: grey;
    display: block;
    margin: 1px auto;
    cursor: pointer;
    font-size: 1.2rem;
}

#contact .form-group button:hover{
    color: black;
    border-color: white;
}

/* Footer */

footer{
    background-color: black;
    color: white;
    font-family:  'ZCOOL QingKe HuangYou', cursive;
    padding: 12px 20px;
}


/* Utility Classes */

.h-primary{
    font-family: 'Fredoka One', cursive;
    font-size: 2.8rem;
    padding: 12px;
    cursor: default;
}

.h-secondary{
    font-family: 'Fredoka One', cursive;
    font-size: 2.1rem;
    cursor: default;
}

.btn{
    padding: 6px 20px;
    border: 2px solid white;
    background-color: #cf6b6b;
    color: white;
    margin: 17px 17px;
    font-size: 1.5rem;
    border-radius: 10px;
    cursor: pointer;
    font-family: 'Permanent Marker', cursive;
}