<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Bulk & Lean</title>
    <!-- <link rel="stylesheet" href="CSS/Styling.css"> -->
    <link href="https://fonts.googleapis.com/css2?family=Metal+Mania&display=swap" rel="stylesheet">
    style 
        include ../static/style.css
</head>
<body>
    <header class="header">
        <!-- div for Logo -->
        <div class="left">
            <img src="../static/Logo.jpg" alt="Logo">
            <div>Bulk & Lean</div>
        </div>
        <!-- nav for Navigation Bar -->
        <nav class="navbar">
            <ul class="nav">
                <li><a href="/">Home</a></li>
                <li><a href="/">About Us</a></li>
                <li><a href="/">Services</a></li>
                <li><a href="/">Contact Us</a></li>
            </ul>
        </nav>
        <!-- div for Buttons -->
        <div class="right">
            <buttton class="btn">Call Us Now</buttton>
            <buttton class="btn">Email Us</buttton>
        </div>
    </header>
    <!-- div to contain main content (h1 and form) od our website -->
    <div class="container">
        <h1>Join Our Gym</h1>
        <form action="/", method="POST">
            <div class="fgroup">
                <input type="text" placeholder="Enter Your Name" name="name" id="name">
                <input type="text" placeholder="Enter Your Age" name="age" id="age">
                <input type="email" placeholder="Enter Your Gmail" name="gmail" id="gmail">
                <input type="text" placeholder="Enter Your Locality" name="address" id="address">
                <button class="btnn">Submit</button>
            </div>
        </form>
    </div>
</body>
</html>