/* CSS Reset */
body{
    margin: 0px;
    padding: 0px;
    background: url('../static/Background 2.jpg');
    color:white;
    font-family: 'Metal Mania', cursive;
}
.left{
    /* border:2px solid red; */
    display: inline-block;
    position: absolute;
    left: 34px;
    top: 20px;
}
.left img{
    display: inline-block;
    width: 102px;
    margin: 0px 50px;
}
.left div{
    color: white;
    line-height: 30px;
    font-size: 33px;
    text-align: center;
}
.left div:hover{
    cursor: default;
}
.navbar{
    /* border: 2px solid green; */
    display: block;
    width: 40%;
    margin: 20px auto;
}
.right{
    /* border: 2px solid yellow; */
    display: inline-block;
    position: absolute;
    right: 34px;
    top: 37px;
}
.nav{
    display: inline-block;
}
.nav li{
    display: inline-block;
    font-size: 20px;
}
.nav li a{
    color: white;
    text-decoration: none;
    padding: 24px 24px;
}
nav li a:hover{
    color: red;
}
.btn{ 
    color: white;
    margin: 0px 9px;
    padding: 4px 14px;
    background-color: black;
    border: 2px solid grey;
    border-radius: 10px;
    font-size: 20px;
    cursor: pointer;
}
.btn:hover{
    background-color: rgb(128, 117, 117);
    color: red;
}
.container{
    border: 2px solid grey;
    border-radius: 15px;
    display: inline-block;
    margin: 100px 69px;
    padding: 25px 75px;
}
.fgroup input{
    text-align: center;
    display: block;
    width: 330px;
    padding: 10px;
    border: 2px solid grey;
    margin: 10px auto;
    font-size: 13px;
    border-radius: 10px;
    /* font-family: 'Metal Mania', cursive; */
}
.container h1{
    text-align: center;
}
.container h1:hover{
    cursor: default;
}
.btnn{
    background-color: black;
    border: 2px soild grey;
    display: block;
    width: 100%;
    margin: auto;
    border-radius: 10px;
    color: white;
}
.btnn:hover{
    background-color: grey;
    color: red;
}