@import url('https://fonts.googleapis.com/css2?family=Lacquer&family=Yeon+Sung&display=swap');
*{
    margin: 0px;
    padding: 0px;
    box-sizing: border-box;
    font-size: 30px;
}

#navbar{
    background-color: #e93e3e;
    padding: 13px;
    font-family: 'Lacquer', cursive;
}

#navbar ul{
    display: flex;
    justify-content: space-around;
}

#navbar li{
    list-style: none;
    padding-top: 13px;
}

#navbar li a{
    text-decoration: none;
    padding: 3px 20px;
    color: white;
}

#navbar li a:hover{
    background-color: pink;
    color: black;
}

#logo{
    color: white;
    display: flex;
    flex-direction: column;
    align-items: center;
}

#logo img{
    height: 60px;
    width: 65px;
    filter: invert(1);
}

#logo p{
    font-size: 14px;
    cursor: default;
}

#introSection{
    height: 525px;
    display: flex;
    align-items: center;
    justify-content: center;
    flex-direction: column;
    background: center / cover no-repeat url('/static/bg.jpg');
    color: white;
    font-family: 'Yeon Sung', cursive;
}

#introSection p.first {
    font-size: 50px;
}

#introSection p.second {
    font-size: 40px;
}

#introSection p:hover {
    cursor: default;
}

#sponsorsSection h2{
    text-align: center;
    padding-top: 13px;
    font-family: 'Yeon Sung', cursive;
}

#ourMissionSection{
    height: 370px;
    /* background-color: pink; */
    /* display: flex;
    flex-direction: row; */
}

#ourMissionSection h2{
    text-align: center;
    padding-top: 13px;
    font-family: 'Yeon Sung', cursive;
    cursor: default;
}

#ourMissionSection div.card{
    border: 2px solid black;
    background-color: #f6b8c3;
    color: white;
    font-family: 'Lacquer', cursive;
    display: inline-block;
    border-radius: 10px;
    width: 30%;
    margin: 23px 25px;
    height: 233px;
}

#ourMissionSection h3{
    text-align: center;
    font-size: 25px;
    padding-top: 20px;
    cursor: default;
}

.cardBox{
    height: 60px;
    display: flex;
    flex-direction: column;
    align-items: center;
}

.cardImg img{
    height: 145px;
}

.cardBox p{
    font-size: 15px;
    color: black;
    cursor: default;
    font-family: 'Yeon Sung', cursive;
}
#sponsorsSection{
    background-color:#f6b8c3;
    height: 370px;
}

#sponsorsSection h2{
    color: white;
    font-size: 45px;
    cursor: default;
}

#sponsors{
    margin-top: 50px;
    display: flex;
    justify-content: space-around;
}

.sponsorImage{
    height: 200px;
}

#footer{
    font-family: 'Yeon Sung', cursive;   
    background-color: black;
    height: 60px;
    color: white;
    display: flex;
    justify-content: center;
    align-items: center;
    cursor: default;
}

